setuid = stunnel
setgid = stunnel
pid = /var/run/stunnel/stunnel.pid

socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1

debug = ${STUNNEL_DEBUG}
output = /var/log/stunnel/stunnel.log
foreground = yes

[${STUNNEL_SERVICE}]
client = ${STUNNEL_CLIENT}
accept = ${STUNNEL_ACCEPT}
connect = ${STUNNEL_CONNECT}

cert = ${STUNNEL_CRT}
key = ${STUNNEL_KEY}

CAfile = ${STUNNEL_CAFILE}
verifyChain = ${STUNNEL_VERIFY_CHAIN}
verifyPeer = ${STUNNEL_VERIFY_PEER}